.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
}
nav {
    display: flex;
    justify-content: center;
    background: turquoise;
    padding: 8px 0;
}
nav ul {
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
nav li {
    position: relative;
}
nav a {
    color: #0f08ec;
    text-decoration: none;
    padding: 8px 16px;
    position: relative;
}
nav a:hover {
    background: blue;
}
nav a:hover::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3px;
    background: #0f08ec;
    bottom: -5px;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #ea0303;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
nav ul ul li {
    display: block;
}
nav ul ul a {
    padding: 8px 16px;
    width: 160px;
}
nav ul li:hover > ul {
    display: block;
}
.container {
    max-width: 1200px;
    margin: 32px auto;
    padding: 0 32px;
}
:target {
    background-color: yellow; /* Highlight color */
    padding: 10px;
}
body {
    background-image: url('work.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white; /* Set text color to white */
}
