body {
    background-color: black;
    ;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
    font-size: 18px; /* Set the desired font size */
    font-weight: bold; /* Make the text bold */
    font-style: italic; /* Make the text italic */
}
/* Default styles for desktop */
body {
  font-size: 16px;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

/* Styles for mobile devices */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .container {
    width: 100%;
    padding: 0 20px;
  }
}/* Profile image styles */
/* Profile image styles */
.profile-img {
  width: 50%;
  max-width: 50px; /* Adjust based on your design */
  height: auto;
  max-height: 50px; /* Add this line */
  border-radius: 50%; /* Optional: make the image circular */
}

/* Container styles */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  max-width: 90%;
}
